textarea{
  height:28vh;
}

#form{
 width: 37vw;

}

#result{
  width: 37vw;
  padding:20px;
}

#form-title{
  display:block;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  margin-top:30px;
  font-size: 21px;
}

#form-container{
 min-height: fit-content;
 text-align: center;
 display:flex;
 flex-grow: 2;
 width: 68vw;
 margin: 0 auto;
}

#form-content{
  min-height: fit-content;
  text-align: left;
  width: 25vw;
  margin: 0px auto;
  padding: 0 15px;
}

#result-content{
  min-height: fit-content;
  text-align: left;
  width: 25vw;
  margin: 0px auto;
  padding: 0 15px;
}

form{
  padding:0;
}

#input-danger{
  height: 15px;
  margin:0;
  position:absolute;
  color:rgb(189, 15, 15);
  font-size: 14px;
  transform: translateY(-8px);
}

@media screen and (max-width: 800px) {
  #form-container{
    display: block;
    width: 85vw;
  }
  #form-content{
    width: 75vw;
    display: block;
    margin:0 auto;

  }
  #result-content{
    display: block;
    width: 75vw;
    padding:0;
    margin:0 auto;
  }
  #form-title{
    font-size: 22px;
  }
  .textarea{
    height:100px;
  }
}