.button3{
  display: inline;
  border-style: none;
  background-color: rgba(0, 0, 255, 0);
  font-weight: 600;
  color:rgb(0, 0, 255);
  padding:0;
  margin:auto;
  padding: 0px 20px 0px 7px;
  cursor:pointer;
}